{% include "header.html" %}

  <!-- Page Header -->
  <header class="masthead" style="background-image: url({{ url_for('static', filename='img/wallpaper4.jpg')}})">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="page-heading">
            <h1>Hakkımda</h1>
            <span class="subheading">En güçlü insan, yalnız kalmaktan korkmayan insandır. !</span>
          </div>
        </div>
      </div>
    </div>
  </header>

  <!-- Main Content -->
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <p>Daha 24 yaşındayım, yani sanırım. :) Kahveye aşık, müziğe sevdalı biriyim. Çağımızın gerektirdiği(!)
          geleneksek isteklere, dayatmalara inanmayan; insanın kendi içindeki inanç güdüsünün,
          motivasyon ve disiplin ile huzur bulacağına inandığım uğurda bir kaç satır yazıyorum.  </p>
        <p>Ben Emre, öncelikle hoşgeldin. Umarım sayfamı beğenmişsindir. Ceketimin iç cebinden çıkardığım,
          benimle birlikte senin de görmeni istediğim şeyler var. Zamanla burada paylaşmak istiyorum. Vizyonumu her geçen
        gün yeniliyorum evet, çünkü hergün daha fazla şey öğrenmek istiyorum. Malum insan hayatı kısa :)</p>
      <p>Düşünsene, gerçekten kısa bir hayat var bize bahşedilen, sıradan mı yaşamak istiyoruz.
      Yoksa içimizden geleni yaparak mutlu olmak mı ? Hadi ama kendini kandırma. Sen de mutluluğu hakediyorsun. Bak başlamışsın
        bile, en iyi ihtimalle buraya gelmiş ve bu yazıyı okuyorsun. Kendin için bir şeyler yapmak istiyorsun. Öyleyse, kendi
        önünden çekil :)
      </p>
      </div>
    </div>
  </div>

  <hr>

  {% include "footer.html" %}